.pageTitle {
  height: 5%;
  font-size: large;
  padding: 5px;
}

.searchForm {
  height: 10%;
}

.searchForm form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.searchForm form input {
  margin: 5px;
  padding: 5px;
}

.userInfoContainer {
  height: 85%;
}